{% extends "AppCoder/padre.html"%}

{% load static%}

{% block contenidoQueCambia%}


Codigo: {{curso.codigo}}
Nombre_Titanio: {{curso.Nombre_Titanio}}
Titanio: {{curso.Titanio}}
Nombre_Amarillo_Bayer: {{curso.Nombre_Amarillo_Bayer}}
Amarillo_Bayer: {{curso.Amarillo_Bayer}}
Nombre_Amarillo_Vivo: {{curso.Nombre_Amarillo_Vivo}}
Amarillo_Vivo: {{curso.Amarillo_Vivo}}
Nombre_Amarillo_AL90: {{curso.Nombre_Amarillo_AL90}}
Amarillo_AL90: {{curso.Amarillo_AL90}}
Nombre_Azul: {{curso.Nombre_Azul}}
Azul: {{curso.Azul}}
Nombre_Rojo_Bayer: {{curso.Nombre_Rojo_Bayer}}
Rojo_Bayer: {{curso.Rojo_Bayer}}
Nombre_Rojo_Vivo: {{curso.Nombre_Rojo_Vivo}}
Rojo_Vivo: {{curso.Rojo_Vivo}}
Nombre_Negro: {{curso.Nombre_Negro}}
Negro: {{curso.Negro}}
Nombre_Tinta_Azul: {{curso.Nombre_Tinta_Azul}}
Tinta_Azul: {{curso.Tinta_Azul}}
Nombre_Tinta_Verde: {{curso.Nombre_Tinta_Verde}}
Tinta_Verde: {{curso.Tinta_Verde}}
Nombre_Tinta_Roja: {{curso.Nombre_Tinta_Roja}}
Tinta_Roja: {{curso.Tinta_Roja}}
Nombre_Tinta_Violeta: {{curso.Nombre_Tinta_Violeta}}
Tinta_Violeta: {{curso.Tinta_Violeta}}
Nombre_Tinta_Fucsia: {{curso.Nombre_Tinta_Fucsia}}
Tinta_Fucsia: {{curso.Tinta_Fucsia}}
Agua: {{curso.Agua}}
Resina:{{curso.Resina}}
Talco: {{curso.Talco}}
Arena: {{curso.Arena}}
Celulosa: {{curso.Celulosa}}
Cuarzo: {{curso.Cuarzo}}
AntiBacterial: {{curso.AntiBacterial}}
AntiEspumante: {{curso.AntiEspumante}}

<a href="{%url 'List'%}">Regresar</a>

{% endblock %}