{% extends "AppCoder/padre.html"%}

{% load static%}

{% block contenidoQueCambia%}


Codigo: {{pintura.codigo}}
Nombre_Titanio: {{pintura.Nombre_Titanio}}
Titanio: {{pintura.Titanio}}
Nombre_Amarillo_Bayer: {{pintura.Nombre_Amarillo_Bayer}}
Amarillo_Bayer: {{pintura.Amarillo_Bayer}}
Nombre_Amarillo_Vivo: {{pintura.Nombre_Amarillo_Vivo}}
Amarillo_Vivo: {{pintura.Amarillo_Vivo}}
Nombre_Amarillo_AL90: {{pintura.Nombre_Amarillo_AL90}}
Amarillo_AL90: {{pintura.Amarillo_AL90}}
Nombre_Azul: {{pintura.Nombre_Azul}}
Azul: {{pintura.Azul}}
Nombre_Rojo_Bayer: {{pintura.Nombre_Rojo_Bayer}}
Rojo_Bayer: {{pintura.Rojo_Bayer}}
Nombre_Rojo_Vivo: {{pintura.Nombre_Rojo_Vivo}}
Rojo_Vivo: {{pintura.Rojo_Vivo}}
Nombre_Negro: {{pintura.Nombre_Negro}}
Negro: {{pintura.Negro}}
Nombre_Tinta_Azul: {{pintura.Nombre_Tinta_Azul}}
Tinta_Azul: {{pintura.Tinta_Azul}}
Nombre_Tinta_Verde: {{pintura.Nombre_Tinta_Verde}}
Tinta_Verde: {{pintura.Tinta_Verde}}
Nombre_Tinta_Roja: {{pintura.Nombre_Tinta_Roja}}
Tinta_Roja: {{pintura.Tinta_Roja}}
Nombre_Tinta_Violeta: {{pintura.Nombre_Tinta_Violeta}}
Tinta_Violeta: {{pintura.Tinta_Violeta}}
Nombre_Tinta_Fucsia: {{pintura.Nombre_Tinta_Fucsia}}
Tinta_Fucsia: {{pintura.Tinta_Fucsia}}
Agua: {{pintura.Agua}}
Resina:{{pintura.Resina}}
Talco: {{pintura.Talco}}
Celulosa: {{pintura.Celulosa}}
AntiBacterial: {{pintura.AntiBacterial}}
AntiEspumante: {{pintura.AntiEspumante}}

<a href="{%url 'List3'%}">Regresar</a>

{% endblock %}