{% extends "AppCoder/padre.html"%}

{% load static%}

{% block contenidoQueCambia%}


    <!--Aqui va lo que cambia, y lo asociado a esta vista :) -->
    <h1>POLÍTICA DE PROTECCIÓN DE DATOS PERSONALES</h1>

 PINTURA
    <p> 
        INTRODUCCIÓN:
        GRANIPLAS C.A. y sus compañías relacionadas, comunican a sus grupos de interés su Política de Protección de Datos Personales.
        
        POLÍTICA DE PROTECCIÓN DE DATOS PERSONALES
        GRANIPLAS S.A. y sus compañías relacionadas, comunican a sus grupos de interés su Política de Protección de Datos Personales.
        
        Los datos personales en custodia de las Compañías, que le da la condición de responsable y/o encargado según el caso, serán tratados cumpliendo con los principios y regulaciones previstas en las leyes colombianas, la legislación nacional existente y las buenas prácticas aplicables al régimen de protección de datos personales, de acuerdo con lo que determina la Política de Protección de Datos Personales.
        
        Entre los datos personales sensibles se entienden incluidos los siguientes: secretos tecnológicos, fórmulas o recetas de productos, secretos comerciales, planes de negocios, puntos de vista de clientes, proyectos, diseños, bases de datos, registros, historias clínicas, entre otros. La Historia Clínica, debe ser custodiada por Salud en el Trabajo, en aras del cumplimiento de las obligaciones que le impone la normativa vigente en la materia. La obligación de no divulgar este tipo de información confidencial subsiste una vez terminada la relación laboral.
        
        Los datos personales en custodia de La Compañía, en su condición de responsable y/o encargado según el caso, serán tratados cumpliendo los principios y regulaciones previstas en las leyes colombianas, la legislación nacional existente y las buenas prácticas aplicables al régimen de protección de datos personales, de acuerdo con lo que determina la Política de Protección de Datos Personales que se define a continuación.
        
        Será facultativo responder preguntas que versen sobre datos sensibles o sobre los datos de las niñas, niños y adolescentes.
        
        Los datos personales en poder de La Compañías serán tratados conforme con las siguientes finalidades de carácter general:
        
        Para el cumplimiento de las obligaciones y/o compromisos derivados de las relaciones, contractuales o no, existentes con sus grupos de interés.
        Para el cumplimiento de las obligaciones legales que involucren datos personales de sus grupos de interés.
        Para la gestión comercial y relacionamiento con sus grupos de interés.
        Para el análisis prospectivo sobre tendencias y preferencias de sus grupos de interés en relación con sus bienes y/o servicios.
        Para conocer de manera prospectiva las necesidades de sus grupos de interés con el fin de innovar y satisfacer estas.
        Para comunicar a sus grupos de interés información sobre sus bienes, servicios, publicaciones, eventos de capacitación, actividades empresariales y publicidad asociada a su actividad empresarial, trátese de bienes y/o servicios.
        Para desplegar hacia sus grupos de interés actividades de responsabilidad social empresarial.
        Para ser tratados por La Compañía, sus filiales, subordinadas, relacionadas y vinculadas en virtud de las relaciones societarias, contractuales o legales.
        Para compartirla entre ellas o terceros y suministrar datos, sobre el cumplimiento o incumplimiento de las obligaciones legales y contractuales de manera directa o por intermedio de las entidades públicas que ejercen funciones de vigilancia y control.
        Cualquier persona que haga parte de uno de los grupos de interés, en su condición de titular o legítimamente autorizado, en relación con el tratamiento de sus datos personales, tiene derecho a ejercer las acciones que la ley reconoce en materia de protección de datos personales y habeas data, a saber:
        
        Conocer, actualizar y rectificar sus datos personales frente a los Responsables del Tratamiento o Encargados del Tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado.
        Solicitar prueba de la autorización otorgada al Responsable del Tratamiento, salvo cuando expresamente se exceptúe como requisito para el Tratamiento, de conformidad con lo previsto en el artículo 10 de la ley 1581 de 2012.
        Ser informado por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud, respecto del uso que le ha dado a sus datos personales.
        Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la ley 1581 de 2012 y las demás normas que la modifiquen, adicionen o complementen.
        Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el Responsable o Encargado han incurrido en conductas contrarias a la ley y a la Constitución.
        Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento. (artículo 11 ley 1581 de 2012)
        Las bases de datos tendrán una vigencia igual al periodo en que se mantenga la finalidad o finalidades del tratamiento, el cual en todo caso será un término razonable.
        
        Las Compañías se reservan el derecho de modificar su Política de Protección de Datos Personales en cualquier momento. En caso de realizar cambios sustanciales en el contenido de la presente política referidos a la identificación del responsable y a la finalidad del tratamiento de los datos personales, los cuales puedan afectar el contenido de la autorización, será informado a través de una publicación masiva por el medio que las Compañías consideren pertinente.
        
        Para el ejercicio del habeas data, el titular del dato personal o quien demuestre un legítimo interés conforme lo señalado en la normatividad vigente, podrá hacerlo a través de enlace que encuentra al final de nuestra Política de Protección de Datos Personales o ingresando al sitio web https://www.graniplas.com en la sección de CONTÁCTANOS. Quien ejerza el derecho de Habeas Data deberá suministrar con precisión los datos de contacto para efecto de tramitar y atender su solicitud y desplegar las cargas para el ejercicio de sus derechos.
        
        Recibida la solicitud de ejercicio de Habeas Data, La Compañía dará respuesta en el término legal de diez (10) días hábiles, el cual podrá ser prorrogado por cinco (5) días hábiles adicionales, previa comunicación a quien ha ejercido este derecho, de acuerdo con lo dispuesto por la ley.
        
        El tratamiento de los datos personales que realiza  La Compañía conforme a esta política, se hará con base en la norma, procedimientos e instructivos adoptados por esta institución para el cumplimiento de la legislación aplicable a la protección de información personal.
        
        Para tener acceso al derecho de Habeas Data y tener respuesta a tu solicitud debes darle click al enlace CONTÁCTANOS en la página web.



</p>

    <p>
        

{% endblock %}