{% extends "AppCoder/padre.html"%}

{% load static%}

{% block contenidoQueCambia%}


<div class="staff_main">
    <div class="container_staff">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <center><h2>Nuestros Productos</h2></center>
                <span> </span>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div class="staff">
                <div class="man">
                   <i><img src="{%static 'AppCoder/images/mon.jpeg'%}" alt="#"/></i>
                </div>
                <div class="social_icon_main">
                   <h4>Galon de pintura</h4>
                   <p>Precio: 40 $ </p>
                  
                </div>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div class="staff">
                <div class="men">
                   <i><img src="{%static 'AppCoder/images/mun.jpeg'%}" alt="#"/></i>
                </div>
                <div class="social_icon_main">
                   <h4>Galon de Pasta</h4>
                   <p>Precio: 10 $ </p>
                  
                </div>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="staff">
               <div class="men">
                  <i><img src="{%static 'AppCoder/images/lon.jpeg'%}" alt="#"/></i>
               </div>
               <div class="social_icon_main">
                  <h4>Galon pintura aceite</h4>
                  <p>Precio: 40 $ </p>
                 
               </div>
            </div>
         </div>
          <div class="col-md-3 col-sm-6">
            <div class="staff">
               <div class="men">
                  <i><img src="{%static 'AppCoder/images/ran.jpeg'%}" alt="#"/></i>
               </div>
               <div class="social_icon_main">
                  <h4>Llana metalica</h4>
                  <p>Precio: 20 $ </p>
                 
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-6">
           <div class="staff">
              <div class="men">
                 <i><img src="{%static 'AppCoder/images/rin.jpeg'%}" alt="#"/></i>
              </div>
              <div class="social_icon_main">
                 <h4>Llana plastica</h4>
                 <p>Precio: 10 $ </p>
                
              </div>
           </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="staff">
             <div class="men">
                <i><img src="{%static 'AppCoder/images/lan.jpeg'%}" alt="#"/></i>
             </div>
             <div class="social_icon_main">
                <h4>Brochas</h4>
                <p>Precio: 8 $ </p>
               
             </div>
          </div>
       </div>
      <div class="col-md-3 col-sm-6">
        <div class="staff">
           <div class="men">
              <i><img src="{%static 'AppCoder/images/pon.jpeg'%}" alt="#"/></i>
           </div>
           <div class="social_icon_main">
              <h4>Escarcha plateada 1/2 kilo</h4>
              <p>Precio: 20 $ </p>
             
           </div>
        </div>
     </div>
     <div class="col-md-3 col-sm-6">
       <div class="staff">
          <div class="men">
             <i><img src="{%static 'AppCoder/images/ro.jpeg'%}" alt="#"/></i>
          </div>
          <div class="social_icon_main">
             <h4>Funda Rodillo</h4>
             <p>Precio: 10 $ </p>
            
          </div>
       </div>
    </div>
       </div>
    </div>
 </div>
     
      </center>
    </div>
  </body>

{% endblock %}