{% extends "AppCoder/padre.html"%}

{% load static%}

{% block contenidoQueCambia%}

    codigo:{{codigo}}
    <br>
    Cursos:
    {%for curso in cursos%}
        {{curso.Nombre_Titanio}}
        {{curso.Titanio}}
        {{curso.Nombre_Amarillo_Bayer}}
        {{curso.Amarillo_Bayer}}
        {{curso.Nombre_Amarillo_Vivo}}
        {{curso.Amarillo_Vivo}}
        {{curso.Nombre_Amarillo_AL90}}
        {{curso.Amarillo_AL90}}
        {{curso.Nombre_Azul}}
        {{curso.Azul}}
        {{curso.Nombre_Rojo_Bayer}}
        {{curso.Rojo_Bayer}}
        {{curso.Nombre_Rojo_Vivo}}
        {{curso.Rojo_Vivo}}
        {{curso.Nombre_Negro}}
        {{curso.Negro}}
        {{curso.Nombre_Tinta_Azul}}
        {{curso.Tinta_Azul}}
        {{curso.Nombre_Tinta_Verde}}
        {{curso.Tinta_Verde}}
        {{curso.Nombre_Tinta_Roja}}
        {{curso.Tinta_Roja}}
        {{curso.Nombre_Tinta_Violeta}}
        {{curso.Tinta_Violeta}}
        {{curso.Nombre_Tinta_Fucsia}}
        {{curso.Tinta_Fucsia}}
        {{curso.Agua}}
        {{curso.Resina}}
        {{curso.Talco}}
        {{curso.Arena}}
        {{curso.Celulosa}}
        {{curso.Cuarzo}}
        {{curso.AntiBacterial}}
        {{curso.AntiEspumante}}
        <br>

        codigo_2:{{codigo_2}}
    <br>
    pinturas:
    {%for pintura in pinturas%}
        {{pintura.Nombre_Titanio_2}}
        {{pintura.Titanio_2}}
        {{pintura.Nombre_Amarillo_Bayer_2}}
        {{pintura.Amarillo_Bayer_2}}
        {{pintura.Nombre_Amarillo_Vivo_2}}
        {{pintura.Amarillo_Vivo_2}}
        {{pintura.Nombre_Amarillo_AL90_2}}
        {{pintura.Amarillo_AL90_2}}
        {{pintura.Nombre_Azul_2}}
        {{pintura.Azul_2}}
        {{pintura.Nombre_Rojo_Bayer_2}}
        {{pintura.Rojo_Bayer_2}}
        {{pintura.Nombre_Rojo_Vivo_2}}
        {{pintura.Rojo_Vivo_2}}
        {{pintura.Nombre_Negro_2}}
        {{pintura.Negro_2}}
        {{pintura.Nombre_Tinta_Azul_2}}
        {{pintura.Tinta_Azul_2}}
        {{pintura.Nombre_Tinta_Verde_2}}
        {{pintura.Tinta_Verde_2}}
        {{pintura.Nombre_Tinta_Roja_2}}
        {{pintura.Tinta_Roja_2}}
        {{pintura.Nombre_Tinta_Violeta_2}}
        {{pintura.Tinta_Violeta_2}}
        {{pintura.Nombre_Tinta_Fucsia_2}}
        {{pintura.Tinta_Fucsia_2}}
        {{pintura.Agua_}}
        {{pintura.Resina_2}}
        {{pintura.Talco_2}}
        {{pintura.Celulosa_2}}
        {{pintura.AntiBacterial_2}}
        {{pintura.AntiEspumante_2}}
        <br>
    empleadoss:
    {%for empleados in empleadoss%}
        {{empleados.Cedula}}
        {{empleados.Nombres}}
        {{empleados.Apellidos}}
        {{empleados.Cargo}}
        {{empleados.Año_Nacimiento}}
        {{empleados.RH}}
        <br>


{% endblock %}